<!<!DOCTYPE>
<html>
       <head>
       <link rel="stylesheet" type="" href="/style.css">
           <title> HomePage </title>
       </head>
       <body>
           <h1> Production Website</h1>
       </body>
</html>