<!<!DOCTYPE>
<html>
       <head>
           <title> Production </title>
       </head>
       <body>
           <form action="/pics" method="GET">
            <div class="btn">
                <label for="search" class="search-label">Search Photo</label>
                <input type="text" class="search-control" placeholder="Example Sun" name="searchterm">
            </div>
            <div class="btn">
                <label for="page" class="page-label">Page No</label>
                <input type="text" class="page-control" placeholder="Example 20" name="pageno">
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       </body>
</html>